[submodule "dependencies/cutlass"]
	path = dependencies/cutlass
	url = https://hub.nuaa.cf/NVIDIA/cutlass
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://hub.nuaa.cf/fmtlib/fmt
